<h3 class="dashboard-title">Welcome back <span class="dashboard-user"><%= @user.first_name%></span></h3>

<div class="dashboard-container">
  <div class="row">

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" >
      <div class="dashboard-left">

        <div class="dashboard-tutorials">
          <h5>Tutorials</h5>

          <ul>
            <% @tutorials.each do |tutorial| %>
              <span></span><li><strong><%= tutorial.product %></strong> - <%= tutorial.title %></li>
              <%#= link_to "View", company_tutorial_path(tutorial.company.id, tutorial.id)%> |
              <%#= link_to "Edit", edit_company_tutorial_path(tutorial.company.id, tutorial.id)%>
              <%# if @user.status == "manager" %>
              | <%#= link_to "Delete", company_tutorial_path(tutorial.company.id, tutorial.id), method: :delete%></span>
              <%# end %>
            <% end %>

        </ul>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <div class="dashboard-right">

        <div class="dashboard-staff">
          <h5>Team</h5>

          <ul>
            <% @staff.each do |staff| %>
              <li><%= staff.first_name %> <%= staff.last_name %> - <%= staff.status %>

                <% if @user.status == "manager" %>
                  - <% if staff.status == "staff" %>
                    <%= link_to "Upgrade", company_make_manager_path(@company.id, staff.id), method: :patch %>
                  |
                    <% if staff.id != @user.id && staff.status == "staff"%>
                      <%= link_to "Delete", company_user_path(@company.id, staff.id), method: :delete %>
                  <% end %>
                <% end %>
              </li>
              <% end %>
            <% end %>
        </ul>

        </div>

       <div class="dashboard-tutorials-actions">
            <h5>Actions</h5>

          <div class="dashboard-action">
            <i class="fas fa-plus-circle"></i> <%= link_to "New tutorial" %><br>
          </div>

          <% if @user.status == "manager" %>
            <div class="dashboard-action">
              <i class="fas fa-user-circle"></i> <%= link_to "New team member", new_user_invitation_path %><br>
            </div>
          <% end %>

          <div class="dashboard-action">
            <i class="fas fa-chart-line"></i> <%= link_to "Analytics" %><br>
          </div>

        </div>

      </div>
    </div>

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >
    </div>

  </div>

  <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >
      </div>

      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" >
        <div class="dashboard-questions">
            <h5>Open questions</h5>

            <ul>
              <% @tutorials.each do |tutorial| %>
                <li><%= tutorial.product %> - <%= tutorial.title %></li>
                <div class="dashboard-tutorial-questions"></div>
              <% end %>
          </ul>

          </div>
      </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >
      </div>
  </div>


</div>

