
<div class="edit-page" style="display: <%= "none" if @tutorial.subtitle.nil? %>;">
  <div class="video-area">
    <div class="video-player">
      <video id="my-player" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" data-setup='{"controls": true, "autoplay": false, "preload": "auto", "playbackRates": [0.75, 1, 1.5, 2]}'>
        <source src="<%= @tutorial.file %>" type="video/mp4" label="Source" selected="true">
        <% if @tutorial.filehigh %>
        <source src="<%= @tutorial.filehigh %>" type="video/mp4" label="720P">
        <% end %>
        <% if @tutorial.filemedium %>
        <source src="<%= @tutorial.filemedium %>" type="video/mp4" label="480P">
        <% end %>
        <% if @tutorial.filelow %>
        <source src="<%= @tutorial.filelow %>" type="video/mp4" label="360P">
        <% end %>
        <track kind="captions" src="<%= @tutorial.subtitle ? @tutorial.subtitle : "#" %>" srclang="en" label="English" default>
      </video>
    </div>
    <div class="guide">
        <div class="auto-scroll-box" style="display: none;">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked="true">
            <label class="form-check-label" for="defaultCheck1">
              Automatic scrolling
            </label>
          </div>
      </div>
      <div class="steps-area">
        <% @steps = @steps.sort_by {|obj| obj.start_time} %>
        <% @steps.each_with_index do |step, index| %>
          <div id="step-<%=index %>" class="step" data-time="<%= step.start_time %>">
            <h5 style="display: inline-block;"><%= step.headline %></h5>
            <% if step != @steps[-1] %>
              <% step_end_time = @steps[index + 1].start_time %>
            <% else %>
              <% step_end_time = "end" %>
            <% end %>
            <button type="button" class="btn btn-outline-primary btn-sm video-playback" data-value= "<%= step.start_time %>">Delete</button>
            <p class="time"><i><i class="far fa-clock"></i> <%= step.start_time %> seconds</i></p>
            <p><%= step.description %></p>
          </div>
        <% end %>
      </div>
      <div class="newstep">
        <div class="form-title">
          <h5> Add a Step </h5>
          <%= simple_form_for @step, url: company_tutorial_steps_path(@tutorial.company.name, @tutorial), remote: true do |f| %>
            <%= f.input :start_time %>
            <%= f.input :headline %>
            <%= f.input :description %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="tutorial-show-description">
    <div class="tutorial-title"><%= @tutorial.title %></div>
    <i> <%= @tutorial.description %> </i>
    <br><br>
     <strong>Product</strong>: <%= @tutorial.product %>
     <br>
     <div class="materials-list"><strong>What you'll need: </strong></div>
      <p><%= @tutorial.materials %></p>

    </div>

      <div class="tutorial-show-description">


      <span><strong>Edit subtitles - first download, then upload</strong><p></p></span>

    <%= link_to "Download Subtitles", @tutorial.subtitle, class: "btn btn-outline-primary download-subtitles" %>
    <%= simple_form_for @tutorial, url: company_tutorial_path(@tutorial.company.name, @tutorial) do |f| %>
     <label for="file-upload" class="custom-file-upload edit-upload-style">
          <i class="fas fa-cloud-upload-alt"></i> Upload Subtitles
    </label>


    <%= file_field_tag :file, class: 'js-file-upload', id: "file-upload" %>
      <%= f.input :subtitle, as: :hidden %>
      <div class="progress" style="display: none; margin-bottom: 10px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height: 100%;"></div>
      </div>
      <%= f.button :submit, disabled: true%>
      <% end %>

  </div>
  </div>

</div>

<div class="currently-processing" style="display: <%= "none" if @tutorial.subtitle %>;">
  <div class="loader-holder">
    <div class="loader">
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__ball"></div>
    </div>
    <div class="loader-text">
      <p> We are currently processing your Tutorial please come back later. (We'll send you an email when your Tutorial is ready!) </p>
    </div>
  </div>
</div>

