<div class="video-area">
  <div class="video-player">
    <video id="my-player" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" data-setup='{"controls": true, "autoplay": false, "preload": "auto", "playbackRates": [0.75, 1, 1.5, 2], "controlBar": { "CaptionsButton": true}}'>
      <source src="<%= @tutorial.file %>" type="video/mp4">
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
    </video>
  </div>
  <div class="steps-area">
      <% @steps.each_with_index do |step, index| %>
  <div id="step-<%=index %>" class="step" data-time="<%= step.start_time %>" style="<%= "height: 108%;" if index == @steps.size - 1 %>">
    <h5><%= step.headline %></h5>
    <p><%= step.description %>
  </div>
  <% end %>
  </div>
</div>
<div class="QA-area">
  <div class="QA-header">
    <h4> Questions & Answers </h4>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Step
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @tutorial.steps.each_with_index do | step, index| %>
          <a class="dropdown-item" data-step="cardstep-<%=index%>" href="#"><%= step.headline %></a>
        <% end %>
      </div>
  </div>
  </div>
  <div class="accordion" id="accordionExample">
    <% @tutorial.steps.each_with_index do | step, i | %>
      <div class="cardstep" id="cardstep-<%=i%>" style="display: <%= i == 0 ? "block" : "none" %>;">
        <% step.questions.each_with_index do | question, index | %>
          <div class="card">
            <div class="card-header" id="heading<%= i %><%= index %>">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= i %><%= index %>" aria-expanded="false" aria-controls="collapseOne">
                  <%= question.content %>
                </button>
              </h5>
            </div>
            <div id="collapse<%= i %><%= index %>" class="collapse show" aria-labelledby="heading<%= i %><%= index %>" data-parent="#accordionExample">
              <div class="card-body">
                <p class="answer-body"><%= question.answer.content %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
