<!-- Header -->
<header class="header fadeout header-inverse home-fullscreen" style="background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);">
  <div id="particles-js">
    </div>
  <div class="container">
      <div class="row ">
      <div class="col-12 text-center align-self-center banner-text">
        <h1 class="fs-50 fw-600 lh-15 hidden-sm-down element"></h1>
        <br>
        <p class="sub-line">A dynamic solution that allows you to digitalise instructions for your business.</p>
        <br>
        <br>
        <a class="main-button btn btn-xl btn-round btn-primary fs-20 fw-500 w-350 shadow-3 hidden-sm-down" href="#">Get Started</a>
        <br>
    </div>
  </header>
  <main class="main-content">
    <!-- SAMPLE -->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>Sample Tutorials</h2>
            <hr>
          </header>
          <div class="row">
            <div class="col-12 col-md-6 col-xl-4 text-center">
              <p><img class="sample-tutorials" src=<%= image_path "ikea.png" %> alt="ikea"></p>
              <p><strong>Ikea</strong></p>
            </div>
            <div class="col-12 col-md-6 col-xl-4 text-center">
              <p><img class="sample-tutorials" src=<%= image_path "cooking.png" %> alt="cooking"></p>
              <p><strong>Mob Kitchen</strong></p>
            </div>
            <div class="col-12 col-md-6 col-xl-4 text-center">
              <p><img class="sample-tutorials" src=<%= image_path "liquior.png" %> alt="liquior"></p>
              <p><strong>Liqour.com</strong></p>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container features">
          <header class="section-header">
            <h2>Features</h2>
            <hr>
          </header>
          <div class="row">
            <div class="col-12 col-md-6 col-xl-4 text-center">
              <img src=<%= image_path "messages.png" %> alt="question">
              <br>
              <br>
              <h4>Dymanic</h4>
              <p>Your website works on any device: desktop, tablet or mobile.</p>
            </div>
            <div class="col-12 col-md-6 col-xl-4 text-center">
              <img src=<%= image_path "wrench.png" %> alt="wrench">
              <br>
              <br>
              <h4>Customizable</h4>
              <p>Style your tutorials to match your brand identity.</p>
            </div>
            <div class="col-12 col-md-6 col-xl-4 text-center">
              <img src=<%= image_path "messages.png" %> alt="messages">
              <br>
              <br>
              <h4>Interactive</h4>
              <p>Answer any questions your customers have quickly and easily.</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <section class="section sign-up-banner" style="background-color: #8ea6e6">
      <div class="container">
        <div class="row align-items-center sign-up-banner-content">
          <div></div>
          <div class="col-12 col-md-9 text-center align-items-center">
            <h4>Do you need a digitalised instructions for your business?</h4>
            <br>
            <a class="sign-up-button btn btn-lg btn-round btn-white" href="#">Sign up</a>
          </div>
        </div>
      </div>
    </section>


