<div class="row">

  <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">

    <div class="sign-up-form">


<h3>Edit company - <%= @company.name %></h33>

<%= simple_form_for @company do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :zipcode %>
  <%= f.input :country, as: :text %>

<%= f.submit "Edit company", class: "btn btn-primary" %>
<% end %>

    </div>
  </div>
</div>


