<div class="company-show-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @company.banner %>');">

 <h1><%= @company.name.capitalize %> </h1>



    <!-- Video Creator Button -->
  <button type="button" class="btn btn-danger website-link" href="<%= @company.website %>">Go to website</button>
</div>

<!--<div class="id-container">-->
  <!-- Logo -->
  <!--<img src="<%= @company.main_logo %>" alt="logo" class="logo-show">-->
  <!-- Company Name -->

<!--</div> -->

<div class="container">

  <div class="tutorial-search">


    <form id="searchthis" action="/ikea" style="display:inline;" accept-charset="UTF-8" method="get">
      <input name="utf8" type="hidden" value="&#x2713;"/>
      <input id="namanyay-search-box" name="query" size="40" type="text" placeholder="Find tutorials"/>
      <input id="namanyay-search-btn" value="Go" type="submit"/>
    </form>

    </div>

    <!-- <form class="tutorial-search-form" action="/ikea" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;"/>
    <input type="text" name="query" id="query" class="form-control" placeholder="Find tutorials" /><button type="submit"><i class="fa fa-search"></i></button>
    </form> -->





  <div class="row">
    <% @tutorials.each do |tutorial| %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="video-card" style="width: auto; background-image: url(<%= tutorial.image %>);      ">


         <div class="card-body">
          <h5 class="card-title" href="#">

              <%= link_to tutorial.title, company_tutorial_path(tutorial.company.id, tutorial.id) %>

          </h5>
          <p class="card-text"><%= tutorial.description.first(70) %>...</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <hr>
</div>

